/**
 * @name Newtonian
 * @author PieyIsAPie
 * @description Nicey Vencord theme making Discord blue.
 * @version 1.0
 * @authorId 848641418914431027
*/

@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 3px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 4px; /* Gap between avatar and status for User profiles | MUST end in px */

  --rs-small-width: 2px; /* Thickness of status border for members list/dms | MUST end in px */
  --rs-medium-width: 3px; /* Thickness of status border for User popout | MUST end in px */
  --rs-large-width: 4px; /* Thickness of status border for User profile | MUST end in px */

  --rs-avatar-shape: 50%; /* 50% for round - 0% for square */

  --rs-online-color: #43b581; /* Colour for online status */
  --rs-idle-color: #faa61a; /* Colour for idle status */
  --rs-dnd-color: #f04747; /* Colour for dnd status */
  --rs-offline-color: #636b75; /* Colour for offline status */
  --rs-streaming-color: #643da7; /* Colour for streaming status */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-phone-color: var(--rs-online-color); /* Colour of the ring and phone icon when a user is on their phone |  */

  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --settingsicons:		1;				/*	Use Settings Icons in User Settings: 1 = yes, 0 = no							*/
	--font:				"gg sans", "Noto Sans";		/*	General Font												*/
	
	--accentcolor: 			88,101,242;			/*	Blurple			-	default:	88,101,242		-	hex:	#5865f2		*/
	--accentcolor2: 		255,115,250;			/*	Boostpink		-	default:	255,115,250		-	hex:	#ff73fa		*/
	--linkcolor: 			0,176,244;			/*	Link Color		-	default:	0,176,244		-	hex:	#00b0f4		*/
	--mentioncolor: 		250,166,26;			/*	Highlight Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--successcolor: 		59,165,92;			/*	Success Color		-	default:	59,165,92		-	hex:	#3ba55c		*/
	--warningcolor: 		250,166,26;			/*	Warning Color		-	default:	250,166,26		-	hex:	#faa61a		*/
	--dangercolor:  		237,66,69;			/*	Danger Color		-	default:	237,66,69		-	hex:	#ed4245		*/
	
	--backgroundaccent: 		18, 29, 41;			/*	Background Accent	-	default:	64,68,75		-	hex:	#40444b		*/
	--backgroundprimary: 		14, 24, 43;			/*	Background 1		-	default:	54,57,63		-	hex:	#36393f		*/
	--backgroundsecondary: 		9, 16, 28;			/*	Background 2		-	default:	47,49,54		-	hex:	#2f3136		*/
	--backgroundsecondaryalt: 	13, 25, 38;			/*	Background 3		-	default:	41,43,47		-	hex:	#292b2f		*/
	--backgroundtertiary: 		13, 22, 31;			/*	Background 4		-	default:	32,34,37		-	hex:	#202225		*/
	--backgroundfloating: 		18, 29, 41;				/*	Background Elevated	-	default:	24,25,28		-	hex:	#18191c		*/
}